body{
    background-color: rgb(68, 68, 238);
    color: white;
    font: normal 25pt arial;
}
strong{
    color: black;
    font: bold 18pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}